body {
    --p1-color: blue;
    --p2-color: red;
}

#board {
    border-collapse: separate;
}

#board caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

#board, #score {
    margin: 0 auto;
}

#board td {
    border: 3px solid black;
    text-align: center;
    --cell-size: 8vmin;
    width: clamp(40px, var(--cell-size), 60px);
    height: clamp(40px, var(--cell-size), 60px);
}

p {
    text-align: center;
}

input[type="number"] {
    width: 5em;
}

.PLAYER1 {
    background-color: var(--p1-color);
}

.PLAYER2 {
    background-color: var(--p2-color);
}

.X_PLAYER1, .X_PLAYER2 {
    font-size: 1.5em;
}

.X_PLAYER1 {
    color: var(--p1-color);
}

.X_PLAYER2 {
    color: var(--p2-color);
}

#score {
    border-collapse: collapse;
    max-width: 300px;
}

#score th, #score td {
    text-align: center;
}